<div class="ember-modal {{if opened "opened" "closed"}}" >
    <div class="ember-modal-content">
        <span
            class="close-btn"
            onclick={{action 'handleClose'}}
        >x</span>

        {{ yield }}
    </div>
</div>

