<ul class="nav">
    {{#each links as |link|}}
        <li class="nav-item">
            <h3>
                {{#if link.link}}
                    {{#link-to link.link}}
                        {{ link.title }}
                    {{/link-to}} /
                {{else}}
                    {{ link.title }}
                {{/if}}
            </h3>
        </li>
    {{/each}}
</ul>