<div>
    <h3>Product Form</h3>
</div>

<form onsubmit={{action "onSubmit"}}>
    <div class="form-group">
        <label for="">Name*</label>
        {{input class="form-control" minlength="3" value=productModel.name required="required"}}
    </div>
    <div class="form-group">
        <label for="">Price*</label>
        {{input type="number" min="10" class="form-control" value=productModel.price  required="required"}}
    </div>
    <div class="form-group">
        <label for="">Quantity*</label>
        {{input type="number"  min="1" class="form-control" value=productModel.quantity required="required"}}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" >Save</button>
    </div>
</form>