<div>
    <h3>Shop Form</h3>
</div>

<form onsubmit={{action "onSubmit"}}>
    <div class="form-group">
        <label for="">Name*</label>
        {{input class="form-control" minlength="3" value=shopModel.name required="required"}}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>