.ember-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.ember-modal.opened{
    display: block;
}
.ember-modal.closed{
    display: none;
}

.ember-modal-content {
    background-color: #fefefe;
    margin: 30px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
}

/* The Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 25px;
    line-height: 15px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 8px;
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}