{{nav-links links=links }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> Found {{ model.products.length }} products at {{ model.name }}</li>
    </ol>
</nav>

{{#if model.products.length}}
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Qty</td>
                <td>Price</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {{#each model.products as |product|}}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{format-price product.price}}</td>
                    <td>
                        <button type="button" onclick={{action 'onEditDialogOpen' product}}>
                            Edit
                        </button>
                        <button type="button" onclick={{action 'onDelete' product}}>
                            Delete
                        </button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="2">Total</td>
                <td>{{total-price products=model.products}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
{{else}}
    <h3>No Products in selected shop</h3>
{{/if}}

<div>
    <button
        class="btn btn-primary"
        onclick={{action "onCreateDialogOpen"}}
    >Create product</button>
</div>



{{#modal-dialog opened=dialogOpened onClose=(action "onDialogClose") }}
    {{product-form onSubmit=(action 'onSave') productModel=productModel}}
{{/modal-dialog}}

