{{nav-links links=links }}

{{#if model.length}}
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {{#each model as |shop|}}
                <tr>
                    <td>{{#link-to "shop" shop.id}} {{shop.name}} {{/link-to}} </td>
                    <td>
                        <button type="button" onclick={{action 'onEditDialogOpen' shop}}>
                            Edit
                        </button>
                        <button type="button" onclick={{action 'onDelete' shop}}>
                            Delete
                        </button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <h3>No Shops</h3>
{{/if}}

<div>
    <button
        class="btn btn-primary"
        onclick={{action "onCreateDialogOpen"}}
    >
        Add shop
    </button>
</div>

{{#modal-dialog opened=dialogOpened onClose=(action "onDialogClose") }}
    {{shop-form onSubmit=(action 'onSave') shopModel=shopModel}}
{{/modal-dialog}}